*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    overflow: hidden;
}

.container{
    background-color: blue;
}

.gameBg{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100% 113%;
    width: 100%;
    height: 90vh;
}


.player{
    background-image: url('player.gif');
    width: 270px;
    height: 190px;
    background-size: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 560px;
    left: 200px;  
}

.dragon{
    background-image: url('dragon_atack.gif');
    width: 390px;
    height: 250px;
    background-size: 75%;
    background-repeat: no-repeat;
    top: 545px;
    left: 700px;
    position: absolute;
}

.gameOver{
    top: 100px;
    text-align: center;
    position: relative;
    font-size: 50px;
    visibility: hidden;
    font-family: sans-serif;
}

.scoreCont{
    position: absolute;
    font-size: 20px;
    border: 2px solid black;
    width: 120px;
    text-align: center;
    right: 30px;
}

.ground{
    background-image: url('dragon land.png');
    height: 130px;
    width: 800vw;
    background-size: 1.5%;
    background-repeat: repeat-x;
    top: 720px;
    position: absolute;
}

.landMove{
    animation: landMove 15s linear infinite;
}


.animatePlayer{
    animation: player 0.5s linear;
}

.dragonAnimation{
    animation: dragonAnimation 5s linear infinite;
}

.playerFall{
    animation: playerFall 10s linear;
}

@keyframes playerFall{
    0%{
        top: 560px;
    }
    10%{
        top: 50px;
    }
    20%{
        top: 800px;
    }
    100%{
        top: 800px;
    }
}


@keyframes player{
    0%{
        top: 560px;
    }
    /* 30%{
        top: 300px;
    } */
    50%{
        top: 50px;
    }
    100%{
        top: 560px;
    }
}


@keyframes dragonAnimation{
    0%{
        left: 1200px;
    }

    100%{
        left: -200px;
    }
}

@keyframes landMove{
    0%{
        top: 720px;
    }
    50%{
        top: 715px;
    }
    100%{
        transform: translateX(-500vh);
        top: 720px;
    }
}